<div id="page-wrapper">
                <!-- Dashboard -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Détail commande</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row" ng-repeat="c in commande">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Commande n°{{ c.id }}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Information sur la commande</h3>
                            <div class="form-group">
                                <label>
                                    Acheteur
                                </label>
                                <p class="form-control-static">
                                    {{ c.acheteur_civilite | civilite }} {{ c.acheteur_prenom }} {{ c.acheteur_nom | uppercase }}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>
                                    Âge
                                </label>
                                <p class="form-control-static">
                                    {{ c.acheteur_age }}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>
                                    E-mail
                                </label>
                                <p class="form-control-static">
                                    {{ c.acheteur_email }}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>
                                    Date de livraison demandée
                                </label>
                                <p class="form-control-static">
                                    Le {{ c.jour_commande | date : "dd/MM/yyyy 'à' HH:mm" }}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>
                                    Type de paiement
                                </label>
                                <p class="form-control-static">
                                    {{ c.type_payement_id | paiement_type }}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3>Détail de la commande</h3>
                            <div class="form-group" ng-repeat="(i, r) in repasCommande">
                                <label>
                                    Sous-commande n°{{ i + 1 }} (réf. {{ r.id }})
                                </label>
                                <p class="form-control-static">
                                    Pour {{ r.civilite_id | civilite }} {{ r.prenom }} {{ r.nom | uppercase }} ({{ r.age }} ans)
                                </p>
                                <p class="form-control-static">
                                    Repas commandé : {{ r.menu_id | repas }}
                                </p>
                                <p class="form-control-static">
                                    Tarif : {{ r.tarif_id | tarif_type }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" ng-href="#!/commandes" role="button">Retour</a>


</div>
<!-- /#page-wrapper -->
