<div id="page-wrapper">
                <!-- Dashboard -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Commandes</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ commandes.length }}</div>
                            <div>Nouvelles commandes!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Voir la liste</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <ul class="nav in" id="side-menu">
        <li class="active" ng-repeat="(index, commande) in commandes">
            <a href="" ng-click="isCollapsed = !isCollapsed">
                - Commande n°{{ index }}<span class="fa fa-commande"><i ng-class="isCollapsed ? 'fa-arrow-down' : 'fa-arrow-right'"></i></span>
            </a>
            <ul uib-collapse="!isCollapsed">
                <li ng-repeat="(key_detail, detail) in commande.Details_commande">
                    Repas : {{ detail['Commande' + (key_detail + 1)].Repas }} <br>
                    Nom : {{ detail['Commande' + (key_detail + 1)].Nom }} <br>
                    Prénom : {{ detail['Commande' + (key_detail + 1)].Prenom }} <br>
                    Tarif : {{ detail['Commande' + (key_detail + 1)].Tarif }} <br>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
    </ul>


</div>
<!-- /#page-wrapper -->
